*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato';
}
.container{
    max-width:1300px;
    margin: auto;
    padding: 0 15px;
}
.d-flex{
    display: flex;
}
.row{   
    display: flex;
    flex-wrap: wrap;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items:center ;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
ul{
    list-style: none;
}
.w-2{
    width: 50%;
}
.w-3{
    width: 33.33%;
}
.w-4{
    width: 25%;
}


/* HEADER */

.logo{
    margin-right: 100px;
}


nav li{
    font-size: 18px;
    border-radius: 4px;
    margin: 0 20px;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #f39c12 !important;
}
.btn-1{
    border: 2px solid #d0a772;
    padding: 10px 20px;
    border-radius:7px;
}
.btn-1:hover{
    background-color: #d0a772;
    padding: 10px 20px;
    border-radius:19px;
    transition: 0.5s all;
    color: white;
}

/* SLIDER */

.swiper {
    width: 100%;
    height: 700px;
    position: relative;
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
.swiper-content{
    position: absolute;
    top: 20%;
    left: 50%;
    margin: 0 auto;
    z-index:00;
    color: white;
    max-width: 700px;
    transform: translate(-50%);
}
.swiper-content h1{
    padding: 15px 0;
   
}
.swiper-content strong{
    font-size: 64px;
    font-weight: 600;
    margin: auto;
  
}
.swiper-content p{
    padding: 19px 0;
    font-weight: 200;
}
.swiper-content a{
    text-decoration: none;
    border:2px solid #d0a772;
    color: white;
    padding: 10px 30px;
}
.swiper-content a:hover{
    background-color: #d0a772;
    transition:0.3s all;
    border-radius: 10px;
}

.overlay{
background-image: linear-gradient(rgba(15, 8, 8, 0.6),rgba(12, 7, 7, 0.8) ),url(/img/slider-01.jpg);
  position: absolute;
  top:0;
  left:0;
  z-index: 99; 

}
.overlay-1{
    background-image: linear-gradient(rgba(15, 8, 8, 0.6),rgba(12, 7, 7, 0.8) ),url(/img/slider-02.jpg);
      position: absolute;
      top:0;
      left:0;
      z-index: 99; 
    
}
.overlay-2{
        background-image: linear-gradient(rgba(15, 8, 8, 0.6),rgba(12, 7, 7, 0.8) ),url(/img/slider-03.jpg);
          position: absolute;
          top:0;
          left:0;
          z-index: 99; 
        
}

/* ABOUT */

.about{
    margin:90px 0;
}
.about-content{
    text-align: center;
}
.about-content a{
    text-decoration: none;
    border:2px solid #d0a772;
    color: #d0a772;
    max-width: 200px;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
   
}
.about-content a:hover{
    background-color: #d0a772;
    transition:0.3s all;
    color: white;
    border-radius: 10px;
}
.about-content h2{
    font-size: 40px;
    font-weight: 300;
}
.about-content h5{
   text-align: center;
   font-weight: 200;
   font-size: 20px;

}
.about-content p{
   line-height: 39px;
   padding: 10px;
   font-weight: 300;
   font-size: 16px;
   color: #666666;
}
.about-img{
   box-shadow: -10px -10px 0px #d0a772;
   margin-right: 20px;
   
}
.about-img img{
    border-radius: 3px;
}
.about-content span{
    color:#d0a772;
}

/* QOUTS */

.qouts{
    background-image: url(/img/img-4.jpg);
    height: 400px;
    width:100%;
    background-size: cover;
    background-attachment: fixed;
    margin: 100px 0;

}
.qouts-content{
    margin: auto;
    transform: translatey(50%);
    
}
.qouts-content p{
    color: white;
    font-weight: 600;
    font-size: 40px;
}
.qouts-content span{
    color: white;
}


/* GALLERY */

.gallery-img img{
   width: 100%;
    margin: 10px;
    padding: 0 10px;
    transition: 0.4s ease-in-out;
    border-radius: 9px;
}
.gallery-img img:hover{
    transform: scale(1.05);
}
.gallery-title p{
    font-weight: 200;
    padding: 20px 0;
}

/* FOOTER */

footer {
    background-image:linear-gradient(rgba(15, 8, 8, 0.6),rgba(12, 7, 7, 0.8) ), url(/img/footer-img.jpg);
    color: white;
    margin: 60px 0 0 0;
    padding: 20px 0;
}

/* .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
} */
.footer-items h3{
    border-bottom: 1px dashed #d0a772;
    margin: 0 10px 10px 0;
    font-weight:100;
    padding-bottom: 10px;
    font-size: 26px;
}
.footer-items{
    padding: 0 20px;
}
.footer-items p{
    font-weight: 100;
}
.footer-items ul{
    font-weight: 100;
}
.footer-items li{
    padding: 8px 0;
}
.footer-items input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color:rgb(24, 23, 23);
}

.footer-items button {
    padding: 10px 30px;
    background-color: #d0a772;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

